<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sistock2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Sistock2.My.MySettings>
            <setting name="CNS" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioBD" serializeAs="String">
                <value />
            </setting>
            <setting name="ContraseñaBD" serializeAs="String">
                <value />
            </setting>
            <setting name="NombreBD" serializeAs="String">
                <value />
            </setting>
            <setting name="NombreServidorSQL" serializeAs="String">
                <value />
            </setting>
        </Sistock2.My.MySettings>
    </userSettings>
</configuration>